body {
    animation-name: fade-in;
    animation-duration: 12s;
    animation-iteration-count: 1;
    background: linear-gradient(#64c3e6, #e591dd);
    width: 100vw;
    height:100vh;
    margin: 0;
    overflow: hidden;
}

body, button {
    text-align: center;
}

#container {
    background-color: #a9a8b9;
    border-radius: 9em;
    box-shadow: 0 0 0.6em #966a98;
    margin: 6vh auto;
    width: 40em;
    height: 40em;
    z-index: 2;
}

@keyframes fade-in {
    0%   {opacity: 0;}
    100% {display: 1;}
}

button {
    padding: 0.2em 0.4em;
    position: relative;
    background-color: #94afc6;
    bottom: 0em;
    border: none;
    color: #606bab;
    outline: none;
    box-shadow: 0 0 0.2em #966a98, inset 0 0 0.1em #a76c93;
    font-size: 3.6em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 0.1em;
}
