body {
    animation-name: fade-in;
    animation-duration: 12s;
    animation-iteration-count: 1;
}

body, button {
    background-color: #000101;
    text-align: center;
}

#container {
    background-color: #000000;
    border-radius: 9em;
    box-shadow: 0 0 1em purple;
    margin: 6vh auto;
    width: 40em;
    height: 40em;
    z-index: 2;
}

@keyframes fade-in {
    0%   {opacity: 0;}
    100% {display: 1;}
}

button {
    padding: 0.2em 0.4em;
    position: relative;
    bottom: 0em;
    border: none;
    color: purple;
    outline: none;
    box-shadow: 0 0 0.5em purple, inset 0 0 0.1em purple;
    font-size: 3.6em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 0.1em;
    animation-name: example;
    animation-delay: 5s;
    animation-duration: 12s;
    animation-iteration-count: infinite;
}

@keyframes example {
    0%   {box-shadow: 0 0 0.5em purple, inset 0 0 0.1em purple;}
    50%  {box-shadow: 0 0 1.8em purple, inset 0 0 0.3em purple;}
    100% {box-shadow: 0 0 0.5em purple, inset 0 0 0.1em purple;}
}